@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 290 35% 100%;
  --foreground: 290 5% 10%;
  --card: 290 35% 100%;
  --card-foreground: 290 5% 15%;
  --popover: 290 35% 100%;
  --popover-foreground: 290 95% 10%;
  --primary: 290 100% 85.9%;
  --primary-foreground: 0 0% 0%;
  --secondary: 290 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 252 30% 95%;
  --muted-foreground: 290 5% 40%;
  --accent: 252 30% 90%;
  --accent-foreground: 290 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 290 5% 100%;
  --border: 290 30% 82%;
  --input: 290 30% 50%;
  --ring: 290 100% 85.9%;
  --radius: 1rem;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}
.dark {
  --background: 290 35% 10%;
  --foreground: 290 5% 100%;
  --card: 290 35% 10%;
  --card-foreground: 290 5% 100%;
  --popover: 290 35% 5%;
  --popover-foreground: 290 5% 100%;
  --primary: 290 100% 85.9%;
  --primary-foreground: 0 0% 0%;
  --secondary: 290 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 252 30% 25%;
  --muted-foreground: 290 5% 65%;
  --accent: 252 30% 25%;
  --accent-foreground: 290 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 290 5% 100%;
  --border: 290 30% 50%;
  --input: 290 30% 50%;
  --ring: 290 100% 85.9%;
  --radius: 1rem;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --content-gap: 1.5rem;
  --layout-gap: calc(var(--content-gap) * 3);
  --mini-gap: calc(var(--content-gap) / 3);
}

/* SITE STRUCTURE --- SITE STRUCTURE --- SITE STRUCTURE --- */
.page {
  min-height: 100svh;
  display: grid;
  padding-top: var(--mini-gap);
  padding-bottom: var(--layout-gap);
  grid-template-rows: auto 1fr auto;
}

.page > * {
  grid-column: 1/-1;
}

.header {
  grid-row: 1/2;
}
.content {
  grid-row: 2/3;
}
.footer {
  grid-row: 3/4;
}
.site-padding {
  padding-inline: 4rem;
}
section {
  display: grid;
  row-gap: var(--layout-gap);
}

section.section-padding {
  padding-block: 6rem;
}

/* HEADER --- HEADER --- HEADER --- */
.header {
  padding-block: var(--mini-gap);
}

/* FOOTER --- FOOTER --- FOOTER --- */
.header {
  padding-block: var(--mini-gap);
}

/* TILE LIST --- TILE LIST --- TILE LIST --- */

#tile-list > div:nth-child(5n) {
  grid-row: span 2;
}
#tile-list > div:nth-child(7n - 5) {
  grid-row: span 2;
  grid-column: span 2;
}
#tile-list > div:nth-child(13n) {
  grid-column: span 2;
  grid-row: span 3;
}

.tile-list-item {
  background: unset;
  border: unset;
}

/* TABLE GRID --- TABLE GRID --- TABLE GRID --- */
.grid-table {
  display: grid;
  column-gap: var(--content-gap);
}

:where(.grid-table-header, .grid-table-row) {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: solid 1px HSL(var(--border));
}

:where(.grid-table-header, .grid-table-row) > * {
  padding: var(--mini-gap);
}
